# Datastructures

##  List Excercises
### Excercise 1

In [5]:
list=["Anusree", 32,"ksanusree92@gmail.com","Palakkad"]
print(list)

['Anusree', 32, 'ksanusree92@gmail.com', 'Palakkad']

In [36]:
list_num=[37,32,7,4,75]
print("The list of 5 random numbers is :",list_num)

The list of 5 random numbers is : [37, 32, 7, 4, 75]

### Excercise 2

In [38]:
list_num.extend([28,35,36])   # extend fn to add more than 1 items to the list
print("The updated list is :",list_num)

The updated list is : [37, 32, 7, 4, 75, 28, 35, 36]

### Excercise 3

In [52]:
print("The items of the list are : ")
for items in list_num :
    print(items)

The items of the list are :
37
32
7
4
75
28
35
36

## Dictionary Excercises
### Excercise 1

In [69]:
details = {"Name":"John", "Age":25, "Address":"Newyork"}
print("The personal details in the dictionary form is : ",details)

The personal details in the dictionary form is :  {'Name': 'John', 'Age': 25, 'Address': 'Newyork', 'Phone': 1234567890}

### Excercise 2

In [71]:
details["Phone"]=1234567890
print("The updated dictionary is :",details)

The updated dictionary is : {'Name': 'John', 'Age': 25, 'Address': 'Newyork', 'Phone': 1234567890}

## Set Excercises
### Excercise 1

In [91]:
set1={1,2,3,4,5}
print("The original set is :",set1)

The original set is : {1, 2, 3, 4, 5}

### Excercise 2

In [93]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

### Excercise 3

In [95]:
print("The set before removing the value 3 is : ",set1)
set1.discard(3)
print("The set after removing value 3 is :",set1)

The set before removing the value 3 is :  {1, 2, 3, 4, 5, 6}
The set after removing value 3 is : {1, 2, 4, 5, 6}

## Tuple Excercises
### Excercise 1

In [98]:
tup1=(1,2,3,4)
print("The tuple is :",tup1)

The tuple is : (1, 2, 3, 4)

### Excercise 2

In [103]:
print("The length of the tuple is : ", len(tup1))

The length of the tuple is :  4